
.header {
  height: 100px;
  background: #433633;
  width: 100%;
  //display: flex;
}

.header-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:100px;
  color: white;
  //overflow: hidden;//need to rework(or no?)
  //align-items: baseline;
  //justify-content: flex-end;
  //width:100%;
}
.list{
  //height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width:100%;
}
.el{
  display: flex;
  font-size: 36px;
  margin-right: 20px;
  cursor: pointer;
}
.name{
  align-items: center;
  //margin-bottom: 12px;
  margin-left: 20px;
  //text-align: center;
  display:flex;
  //display:inline;
  //height: 100%;
  //height: 20px;
  font-size: 48px;
}
.header-burger{
  display: none;
}
//767px
//@media (max-width:1920px){
//  .header-burger{
//    display: block;
//    height: 30px;
//  }
  //.header-burger{
  //  display: block;
  //  width: 30px;
  //  height: 20px;
  //  z-index: 50;
  //}
  //.header-burger span{
  //  position: absolute;
  //  background-color: #FFFFFF;
  //  left: 0;
  //  width: 100%;
  //  height: 2px;
  //  top: 9px;
  //}
  //.header-burger:before,
  //.header-burger:after{
  //  content: '';
  //  background-color: #FFFFFF;
  //  position: absolute;
  //  width: 100%;
  //  height: 2px;
  //  left: 0;
  //}
  //.header-burger:before{
  //  top: 0;
  //}
  //.header-burger:after{
  //  bottom: 0;
  //}
//}
