
.header {
  height: 100px;
  background: #433633;
  width: 100%;
}

.header-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:100px;
  color: white;
}
.list{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width:100%;
}
.el{
  display: flex;
  font-size: 36px;
  margin-right: 20px;
  cursor: pointer;
}
.name{
  align-items: center;
  margin-left: 20px;
  display:flex;
  font-size: 48px;
}
.header-burger{
  display: none;
}
.logo{
  align-items: flex-start;
  margin-left: 20px;
  display:flex;
  font-size: 36px;
  color: white;
}
.plug{
  width: 10%
}
/////////////////////////////////////
//header{
//  height: 100px;
//}
//
//.topmenu {
//  background: #433633;
//  height: 100px;
//}
//
//.topmenu a {
//  text-decoration: none;
//  display: block;
//  transition: .4s ease-in-out;
//}
//
//.topmenu>li>a {
//  padding: 20px;
//  color: white;
//  font-size: 36px;
//}
//
//.topmenu li a:hover {
//  color: #c0a97a;
//}
//
//.submenu li a {
//  border-bottom: 1px solid #efefef;
//  font-size: 12px;
//  color: #484848;
//}
//
//@media(max-width:599px) {
//  .topmenu>li>a {
//    padding: 15px 20px;
//  }
//  .submenu li a {
//    padding: 10px 20px;
//    margin: 0 20px;
//  }
//}
//
//@media(min-width: 600px) {
//  .topmenu {
//    width: 100%;
//    display: flex;
//    justify-content: center;
//  }
//  .topmenu>li {
//    position: relative;
//  }
//
//  .topmenu>li:last-child:after {
//    background: none;
//    box-shadow: none;
//  }
//  .submenu {
//    position: absolute;
//    left: 50%;
//    top: 100%;
//    width: 210px;
//    margin-left: -105px;
//    background: #fafafa;
//    border: 1px solid #ededed;
//    z-index: 5;
//    visibility: hidden;
//    opacity: 0;
//    transform: scale(.8);
//    transition: .4s ease-in-out;
//  }
//  .topmenu>li:hover .submenu {
//    visibility: visible;
//    opacity: 1;
//    transform: scale(1);
//  }
//  .submenu li a {
//    text-align: center;
//    padding: 10px 0;
//    margin: 0 10px;
//  }
//}


////
.items-wrapper{
  display: flex;
}

header{
  height: 100px;
}

.topmenu {
  background: #433633;
  height: 100px;
}

.items-wrapper a {
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;
}
//
.logo a {
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;
}
.logo>a {
  padding: 20px;
  color: white;
  font-size: 36px;
}
//
.items-wrapper>li>a {
  padding: 20px;
  color: white;
  font-size: 36px;
}

.topmenu li a:hover {
  color: #c0a97a;
}

.submenu li a {
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  color: #484848;
}

@media(max-width:599px) {
  .topmenu>li>a {
    padding: 15px 20px;
  }
  .submenu li a {
    padding: 10px 20px;
    margin: 0 20px;
  }
  .items-wrapper{
    flex-direction: column;
  }
}

@media(min-width: 600px) {
  .topmenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .topmenu>div>li {
    position: relative;
  }

  .topmenu>div>li:last-child:after {
    background: none;
    box-shadow: none;
  }
  .submenu {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 210px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }
  .topmenu>div>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  .submenu li a {
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
  }
}
////

//767px
//@media (max-width:1920px){
//  .header-burger{
//    display: block;
//    height: 30px;
//  }
  //.header-burger{
  //  display: block;
  //  width: 30px;
  //  height: 20px;
  //  z-index: 50;
  //}
  //.header-burger span{
  //  position: absolute;
  //  background-color: #FFFFFF;
  //  left: 0;
  //  width: 100%;
  //  height: 2px;
  //  top: 9px;
  //}
  //.header-burger:before,
  //.header-burger:after{
  //  content: '';
  //  background-color: #FFFFFF;
  //  position: absolute;
  //  width: 100%;
  //  height: 2px;
  //  left: 0;
  //}
  //.header-burger:before{
  //  top: 0;
  //}
  //.header-burger:after{
  //  bottom: 0;
  //}
//}
