<div class="form-wrapper" *ngIf="form; else loader">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()" >
    <div class ="form-header">
      <h2>Створення посади</h2>
      <svg [routerLink]="['/positions']"
           class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" fill="rgba(53,48,47,1)"/></svg>
    </div>
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('name')?.touched && form.get('name')!.invalid}"
    >
      <label for="name" class="form-label">Назва:</label>
      <input class="form-input" id="name" type="text" formControlName="name">
      <div
        *ngIf="form.get('name')!.touched! && form.get('name')!.invalid"
        class="validation"
      >
        <small *ngIf="form.get('name')!.errors?.['required']">
          Введіть поле назва
        </small>
      </div>
    </div>
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('baseRate')?.touched && form.get('baseRate')!.invalid}"
    >
      <label for="baseRate" class="form-label">Базова ставка:</label>
      <input class="form-input" id="baseRate" type="number" formControlName="baseRate">
      <div
        *ngIf="form.get('baseRate')!.touched! && form.get('baseRate')!.invalid"
        class="validation"
      >
        <small *ngIf="form.get('baseRate')!.errors?.['required']">
          Введіть поле базова ставка
        </small>
      </div>
    </div>
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('appointmentPercentage')?.touched && form.get('appointmentPercentage')!.invalid}"
    >
      <label for="appointmentPercentage" class="form-label">Відсоток від прийому:</label>
      <input class="form-input" id="appointmentPercentage" type="number" formControlName="appointmentPercentage">
      <div
        *ngIf="form.get('appointmentPercentage')!.touched! && form.get('appointmentPercentage')!.invalid"
        class="validation"
      >
        <small *ngIf="form.get('appointmentPercentage')!.errors?.['required']">
          Введіть поле відсоток від прийому
        </small>
      </div>
    </div>
    <div class="button-section">
      <button
        type="submit"
        class="form-submit-btn"
        [disabled]="form.invalid || submitted"
      >Створити</button>
    </div>
  </form>
</div>

<ng-template #loader>
  <p class="text-center">Завантаження...</p>
</ng-template>




