<div class="form-wrapper" *ngIf="form; else loader">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()" >
    <div class ="form-header">
      <h2>Редагування працівника</h2>
      <svg [routerLink]="['/workers']"
           class="close-icon" viewBox="0 0 24 24" width="32" height="32"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" fill="rgba(53,48,47,1)"/></svg>
    </div>
    <div class="tab-bar">
      <div class="tablinks" (click)="changePage(1)">Основне</div>
      <div class="tablinks" (click)="changePage(2)">Розклад</div>
      <div class="tablinks" (click)="changePage(3)">Офіс</div>
    </div>
    <div class="main-info"
         [ngStyle]="{
      display: pageNumber == 1 ? 'flex' : 'none',
      height: '562px'
    }">
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('name')?.touched && form.get('name')?.invalid}"
      >
        <label for="name" class="form-label">Ім'я:</label>
        <input class="form-input" id="name" type="text" formControlName="name">
        <div
          *ngIf="form.get('name')?.touched! && form.get('name')?.invalid"
          class="validation"
        >
          <div *ngIf="form.get('name')!.errors?.['required']">
            Введіть поле ім'я
          </div>
          <div *ngIf="form.get('name')!.errors?.['minlength'] && !form.get('name')!.errors?.['pattern']">
            Ім'я має бути довшим за 1 символ
          </div>
          <div *ngIf="form.get('name')!.errors?.['maxlength']">
            Ім'я не може бути довшим за 30 символів
          </div>
          <div *ngIf="form.get('name')!.errors?.['pattern'] ">
            Ім'я містить недопустимі символи
          </div>
        </div>
      </div>
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('lastName')?.touched && form.get('lastName')?.invalid}"
      >
        <label for="lastName" class="form-label">Прізвище:</label>
        <input class="form-input" id="lastName" type="text" formControlName="lastName">
        <div
          *ngIf="form.get('lastName')?.touched! && form.get('lastName')?.invalid"
          class="validation"
        >
          <div *ngIf="form.get('lastName')!.errors?.['required']">
            Введіть прізвище
          </div>
          <div *ngIf="form.get('lastName')!.errors?.['maxlength']">
            Прізвище не може бути довшим за 30 символів
          </div>
          <div *ngIf="form.get('lastName')!.errors?.['pattern']">
            Прізвище містить недопустимі символи
          </div>
          <div *ngIf="form.get('lastName')!.errors?.['minlength'] && !form.get('lastName')!.errors?.['pattern']">
            Прізвище має бути довшим за 1 символи
          </div>
        </div>
      </div>
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}"
      >
        <label for="email" class="form-label">Емейл:</label>
        <input class="form-input" id="email" type="text" formControlName="email">
        <div
          *ngIf="form.get('email')?.touched! && form.get('email')?.invalid"
          class="validation"
        >
          <div *ngIf="form.get('email')!.errors?.['required']">
            Введіть поле електронна пошта
          </div>
          <div *ngIf="form.get('email')!.errors?.['pattern']">
            Адреса містить недопустимі символи
          </div>
          <div *ngIf="form.get('email')!.errors?.['email']">
            Введіть поле електронна пошта
          </div>
        </div>
      </div>
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('address')?.touched && form.get('address')?.invalid}"
      >
        <label for="address" class="form-label">Адреса:</label>
        <input class="form-input" id="address" type="text" formControlName="address">
        <div
          *ngIf="form.get('address')?.touched! && form.get('address')?.invalid"
          class="validation"
        >
          <div *ngIf="form.get('address')!.errors?.['required']">
            Введіть поле адреса
          </div>
          <div *ngIf="form.get('address')!.errors?.['minlength'] && !form.get('address')!.errors?.['pattern']">
            Адреса має бути довшою за 4 символи
          </div>
          <div *ngIf="form.get('address')!.errors?.['maxlength']">
            Адреса не може бути довшою за 50 символів
          </div>
          <div *ngIf="form.get('address')!.errors?.['pattern']">
            Адреса містить недопустимі символи
          </div>
        </div>
      </div>
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}"
      >
        <label for="password" class="form-label">Пароль:</label>
        <input class="form-input" id="password" type="password" formControlName="password">
        <div
          *ngIf="form.get('password')?.touched! && form.get('password')?.invalid"
          class="validation"
        >
          <div *ngIf="form.get('password')!.errors?.['required']">
            Введіть поле пароль
          </div>
          <div *ngIf="form.get('password')!.errors?.['minlength']">
            Пароль має бути довшим за 6 символів
          </div>
        </div>
      </div>

      <div
        class="form-control"
        [ngClass]="{invalid: form.get('phoneNumber')?.touched && form.get('phoneNumber')?.invalid}"
      >
        <label for="phoneNumber" class="form-label">Номер телефону:</label>
        <input class="form-input" id="phoneNumber" type="text" formControlName="phoneNumber">
        <div
          *ngIf="form.get('phoneNumber')?.touched! && form.get('phoneNumber')?.invalid"
          class="validation"
        >
          <div *ngIf="form.get('phoneNumber')!.errors?.['required']">
            Введіть поле номер
          </div>
          <div *ngIf="form.get('phoneNumber')!.errors?.['minlength'] && !form.get('phoneNumber')!.errors?.['pattern']">
            Номер має бути довжиною 10 символів
          </div>
          <div *ngIf="form.get('phoneNumber')!.errors?.['maxlength'] && !form.get('phoneNumber')!.errors?.['pattern']">
            Номер має бути довжиною 10 символів
          </div>
          <div *ngIf="form.get('phoneNumber')!.errors?.['pattern']">
            Номер містить недопустимі символи
          </div>
        </div>
      </div>
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('position')?.touched && form.get('position')!.invalid}"
      >
        <label for="position" class="form-label">Посада:</label>
        <select class="form-input" id="position" formControlName="position">
          <option [ngValue]="null" disabled>Оберіть посаду</option>
          <option *ngFor="let position of positions">{{position.positionName}}</option>
        </select>
      </div>
      <div
        *ngIf="form.get('position')?.touched! && form.get('position')?.invalid"
        class="validation"
      >
        <div class="validation">
          Оберіть посаду
        </div>
      </div>
      <div class="button-section">
        <button
          type="submit"
          class="form-submit-btn"
          [disabled]="form.invalid || submitted"
        >Створити</button>
      </div>
    </div>
    <div class="schedule-info"
         [ngStyle]="{
      display: pageNumber == 2 ? 'flex' : 'none',
      height: '463px'
    }">
      <div class="show-wrapper">
        <div *ngIf="schedules; else loader" class="services-all">
          <table class="service-table">
            <thead>
            <tr>
              <th class="service-el-header">День</th>
              <th class="service-el-header">Час</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let workerSchedule of workerSchedules | paginate: { itemsPerPage: 5, currentPage: page}">
              <td class="service-el">{{workerSchedule.day}}</td>
              <td class="service-el">{{workerSchedule.timeStart}} - {{workerSchedule.timeEnd}}</td>
              <td class="action-section">
                <svg class="delete-icon" (click)="removeWorkerSchedule(workerSchedule)" viewBox="0 0 24 24" width="32" height="32" ><path fill="none" d="M0 0h24v24H0z"/><path d="M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3zm1 2H6v12h12V8zm-4.586 6l1.768 1.768-1.414 1.414L12 15.414l-1.768 1.768-1.414-1.414L10.586 14l-1.768-1.768 1.414-1.414L12 12.586l1.768-1.768 1.414 1.414L13.414 14zM9 4v2h6V4H9z" fill="rgba(53,48,47,1)"/></svg>
              </td>
            </tr>
            </tbody>
          </table>
        </div>



      </div>
      <div class="add-section">
        <div class="form-horizontal-group">
          <pagination-controls class="pagination-controls" previousLabel=""
                               nextLabel=""
                               (pageChange)="page = $event"></pagination-controls>
        </div>
        <div
          class="form-control"
          [ngClass]="{invalid: form.get('schedule')?.touched && form.get('schedule')!.invalid}"
        >
          <label for="schedule" class="form-label">Розклад:</label>

          <select class="form-input" id="schedule" formControlName="schedule" [(ngModel)]="scheduleId">
            <option [ngValue]="null" disabled>Оберіть розклад</option>
            <option *ngFor="let schedule of schedules" [ngValue]="schedule.id">{{schedule.day}} {{schedule.timeStart}}-{{schedule.timeEnd}}</option>
          </select>
        </div>
        <div class="add-schedule-button" (click)="addWorkerSchedule()">
          Додати розклад
        </div>
      </div>

    </div>
    <div class="office-tab"
         [ngStyle]="{
      display: pageNumber == 3 ? 'flex' : 'none',
      height: '180px'
    }">
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('city')?.touched && form.get('city')!.invalid}"
      >

        <label for="city" class="form-label">Місто:</label>
        <select class="form-input" id="city" formControlName="city" (change)="filterOffices()">
          <option [ngValue]="null" disabled>Оберіть місто</option>
          <option *ngFor="let office of offices">{{office.cityName}}</option>
        </select>
      </div>
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('officeAddress')?.touched && form.get('officeAddress')!.invalid}"
      >
        <label for="officeAddress" class="form-label">Адреса:</label>
        <select class="form-input" id="officeAddress" formControlName="officeAddress">
          <option [ngValue]="null" disabled>Оберіть адресу офісу</option>
          <option *ngFor="let office of filteredOffices">{{office.address}}</option>
        </select>
      </div>
    </div>


  </form>
</div>

<ng-template #loader>
  <p class="text-center">Завантаження...</p>
</ng-template>

