.service-table{
  color: #35302F;
}

.services-all{
  display: flex;
  justify-content: center;

  align-items: stretch;//
  flex-direction: column;//this 2 prop for stretching table, remove if unnecessary
  margin: 30px 30px 0 30px;
}
.action-section{
  min-width: 76px;
}

td{
  padding: 0 5px 0 5px !important;
  height: 40px;
}
tr{
  padding: 0 5px 0 5px !important;
  height: 40px !important;
}

.tbody{
  max-height: 40px;
}
.service-el{
  font-size: 18px;
  height:40px;
}

.service-el-header{
  font-size: 18px;
  height:40px;
}

.create-button{
  background-color: #8F857D;
  border: solid 1px #35302F;
  border-radius: 10px;
  height: 36px;
  width: 160px;
  min-width: 160px;
  font-size: 18px;
  color: #35302F;
  margin: 30px 0 0 30px;
  text-align: center;
  text-justify: auto;
  cursor: pointer;
  justify-self: flex-end;
  align-self: flex-end;
}
.bottom-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
.pagination-controls{
  justify-self: flex-end;
  align-self: flex-end;
  justify-content: flex-end;
  padding: 5px;
  width: 100%;
  display: flex;
  margin: 30px 30px 0 0;
}
.show-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.filter-section{
  display: flex;
  width: 100%;
}
.filter-input{
  font-size: 18px;
  max-width: 200px;
  margin: 0 10px 10px 0;
}
.icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

//
//search
//
.clear-button{
  background-color: #8F857D;
  border: solid 1px #35302F;
  border-radius: 10px;
  height: 32px;
  width: 100px;
  font-size: 14px;
  color: #35302F;
  text-align: center;
  text-justify: auto;
  cursor: pointer;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 0 5px 5px 0;
}
.search-button{
  background-color: #8F857D;
  border: solid 1px #35302F;
  border-radius: 10px;
  height: 32px;
  width: 100px;
  font-size: 14px;
  color: #35302F;
  margin: 0 5px 5px 0;
  text-align: center;
  text-justify: auto;
  cursor: pointer;
  justify-self: flex-end;
  align-self: flex-end;
}
.filter-section{
  display: flex;
}
.filter-input{
  border: solid 1px #35302F;
  border-radius: 15px;
  font-size: 18px;
  height: 32px;
  color: #35302F;
  justify-self: center;
  align-self: center;
  display: block;
  padding-left: 5px;
  margin: 0 5px 5px 0;
}
.filter-select{
  border: solid 1px #35302F ;
  border-radius: 15px ;
  font-size: 18px ;
  height: 32px ;
  color: #35302F ;
  justify-self: center ;
  align-self: center ;
  display: block ;
  padding-left: 5px ;
  margin: 0 5px 5px 0;
}
//
//confirmation
//
.confirmation-section{
  position: absolute;
  left: 50%;
  //transform: translateX(-50%);
}
.cover{
  position: absolute;
  height: 100%;
  width: 100%;
  //background-color: black;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}
.confirmation-form{
  width: 500px;
  height: 500px;
  color: white;
}
//
//delete confirmation
//
.form-wrapper{
  justify-content: center;
  align-items: flex-start;
  display: flex;
  height: 200px;
  color: #35302F;
  opacity: 100%;
}
.card{
  margin-top: 20px;
  height: 200px;
  border: solid 2px #35302F;
  border-radius: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 388px;
  max-width: 388px;
  background-color: #DECBB7;
  opacity: 100%;
  justify-content: space-between;
}
h2{
  color: #35302F;
  font-size: 36px;
  width: 88%;
  text-align: center;
}
.form-header{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50px;
}
.close-icon{
  cursor: pointer;
}
//
//table corners
//
table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}
table tr th,
table tr td {
  border-right: 1px solid #35302F;
  border-bottom: 1px solid #35302F;
  padding: 5px;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #35302F;
}
table tr th {
  background: #eee;
  border-top: 1px solid #35302F;
  text-align: left;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
//
