<div class="show-wrapper">
  <div *ngIf="appointments; else loader" class="appointments-all">
    <div class="filter-section">
      <input class="filter-input" placeholder="Дата" type="date" [(ngModel)]="dataSearchField">
      <input class="filter-input" placeholder="Працівник" type="text" [(ngModel)]="workerSearchField">
      <input class="filter-input" placeholder="Пацієнт" type="text" [(ngModel)]="patientSearchField">
      <button class="search-button" (click)="filter()">Знайти</button>
      <button class="clear-button" (click)="clearFilter()">Очистити</button>
    </div>
    <table class="appointment-table">
      <thead>
      <tr>
        <th class="appointment-el-header">Номер</th>
        <th class="appointment-el-header">Працівник</th>
        <th class="appointment-el-header">Пацієнт</th>
        <th class="appointment-el-header">Дата</th>
        <th class="appointment-el-header">Час початку</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let appointment of filteredAppointments | paginate: { itemsPerPage: 10, currentPage: page}">
        <td class="appointment-el">{{appointment.id}}</td>
        <td class="appointment-el">{{appointment.workerName}} {{appointment.workerSurname}}</td>
        <td class="appointment-el">{{appointment.patientName}} {{appointment.patientSurname}}</td>
        <td class="appointment-el">{{appointment.appointmentDate | date:'dd/MM/yyyy'}}</td>
        <td class="appointment-el">{{appointment.appointmentTime}}</td>
        <td class="action-section">
          <div class="action-section-container">
            <svg class="edit-icon" [routerLink]="['/appointments', 'details', appointment.id]" viewBox="0 0 24 24" width="32" height="32"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z" fill="rgba(53,48,47,1)"/></svg>
            <svg class="edit-icon" [routerLink]="['/appointments', 'edit', appointment.id]" viewBox="0 0 24 24" width="32" height="32"><path fill="none" d="M0 0h24v24H0z"/><path d="M5 19h1.414l9.314-9.314-1.414-1.414L5 17.586V19zm16 2H3v-4.243L16.435 3.322a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414L9.243 19H21v2zM15.728 6.858l1.414 1.414 1.414-1.414-1.414-1.414-1.414 1.414z" fill="rgba(53,48,47,1)"/></svg>
            <svg class="delete-icon" (click)="remove(appointment.id)" viewBox="0 0 24 24" width="32" height="32" ><path fill="none" d="M0 0h24v24H0z"/><path d="M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3zm1 2H6v12h12V8zm-4.586 6l1.768 1.768-1.414 1.414L12 15.414l-1.768 1.768-1.414-1.414L10.586 14l-1.768-1.768 1.414-1.414L12 12.586l1.768-1.768 1.414 1.414L13.414 14zM9 4v2h6V4H9z" fill="rgba(53,48,47,1)"/></svg>
          </div>
        </td>
      </tr>
      </tbody>
    </table>


  </div>
  <div class="bottom-section">
    <button class="create-button" [routerLink]="['/appointments', 'create']">
      Створити прийом</button>
    <pagination-controls class="pagination-controls" previousLabel=""
                         nextLabel=""
                         (pageChange)="page = $event"></pagination-controls>
  </div>
</div>


<ng-template #loader>
  <p class="text-center">Завантаження...</p>
</ng-template>



