<div *ngIf="appointments; else loader" class="wrapper">
  <div class="appointment-header">
    Працівник {{worker?.firstName}} {{worker?.lastName}}
    <svg class="edit-icon" [routerLink]="['/workers', 'edit', worker!.id]" viewBox="0 0 24 24" width="32" height="32"><path fill="none" d="M0 0h24v24H0z"/><path d="M5 19h1.414l9.314-9.314-1.414-1.414L5 17.586V19zm16 2H3v-4.243L16.435 3.322a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414L9.243 19H21v2zM15.728 6.858l1.414 1.414 1.414-1.414-1.414-1.414-1.414 1.414z" fill="rgba(53,48,47,1)"/></svg>
    <svg class="delete-icon" (click)="remove(worker!.id)"  viewBox="0 0 24 24" width="32" height="32" ><path fill="none" d="M0 0h24v24H0z"/><path d="M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3zm1 2H6v12h12V8zm-4.586 6l1.768 1.768-1.414 1.414L12 15.414l-1.768 1.768-1.414-1.414L10.586 14l-1.768-1.768 1.414-1.414L12 12.586l1.768-1.768 1.414 1.414L13.414 14zM9 4v2h6V4H9z" fill="rgba(53,48,47,1)"/></svg>
  </div>
  <div class="appointment-info">
    <p>Посада: {{worker?.positionName}}</p>
    <p>Номер телефону: {{worker?.phoneNumber}}</p>
    <p>Емейл: {{worker?.email}}</p>
    <p>Адреса: {{worker?.address}}</p>
    <p>Офіс: {{worker?.officeCity}} {{worker?.officeAddress}}</p>
  </div>
  <div class="vertical-block">
    <div class="services">
      <p class="services-header">Розклад:</p>
      <table class="service-table">
        <thead>
        <tr>
          <th class="service-el-header">День</th>
          <th class="service-el-header">Час</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let schedule of worker!.workerSchedules | paginate: {id:'schedulePagination',
        itemsPerPage: 5,
        currentPage: page}">
          <td class="service-el">{{schedule.day}}</td>
          <td class="service-el">{{schedule.timeStart}} - {{schedule.timeEnd}}</td>
        </tr>
        </tbody>
      </table>
      <pagination-controls class="pagination-controls" id="schedulePagination" previousLabel=""
                           nextLabel=""
                           (pageChange)="page = $event"></pagination-controls>
    </div>
    <div class="services">
      <p class="services-header">Прийоми:</p>
      <table class="service-table">
        <thead>
        <tr>
          <th class="appointment-el-header">Номер</th>
          <th class="appointment-el-header">Пацієнт</th>
          <th class="appointment-el-header">Дата</th>
          <th class="appointment-el-header">Час початку</th>
        </tr>
        </thead>
        <tbody>
        <tr class ="table-row-clickable" *ngFor="let appointment of appointments | paginate: {
         id:'appointmentsPagination',
         itemsPerPage: 5,
         currentPage: appointmentsPage}"
            [routerLink]="['/appointments', 'details', appointment.id]" >
          <td class="appointment-el" >{{appointment.id}}</td>
          <td class="appointment-el">{{appointment.patient.firstName}} {{appointment.patient.lastName}}</td>
          <td class="appointment-el">{{appointment.appointmentDate | date:'dd/MM/yyyy'}}</td>
          <td class="appointment-el">{{appointment.appointmentTime}}</td>
        </tr>
        </tbody>
      </table>
      <pagination-controls class="pagination-controls" id="appointmentsPagination" previousLabel=""
                           nextLabel=""
                           (pageChange)="appointmentsPage = $event"></pagination-controls>
    </div>
  </div>


</div>
<ng-template #loader>
  <p class="text-center">Завантаження...</p>
</ng-template>
