<div class="form-wrapper" *ngIf="form; else loader">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()" >
    <div class ="form-header">
      <h2>Створення посади</h2>
      <svg [routerLink]="['/salaryPayments']"
           class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" fill="rgba(53,48,47,1)"/></svg>
    </div>
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('monthNumber')?.touched && form.get('monthNumber')!.invalid}"
    >
      <label for="monthNumber" class="form-label">Номер місяця:</label>
      <input class="form-input" id="monthNumber" type="text" formControlName="monthNumber">
      <div
        *ngIf="form.get('monthNumber')!.touched! && form.get('monthNumber')!.invalid"
        class="validation"
      >
        <small *ngIf="form.get('monthNumber')!.errors?.['required']">
          Введіть поле номер місяця
        </small>
      </div>
    </div>
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('year')?.touched && form.get('year')!.invalid}"
    >
      <label for="year" class="form-label">Рік:</label>
      <input class="form-input" id="year" type="text" formControlName="year">
      <div
        *ngIf="form.get('year')!.touched! && form.get('year')!.invalid"
        class="validation"
      >
        <small *ngIf="form.get('year')!.errors?.['required']">
          Введіть поле рік
        </small>
      </div>
    </div>
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('amount')?.touched && form.get('amount')!.invalid}"
    >
      <label for="amount" class="form-label">Обсяг виплати:</label>
      <input class="form-input" id="amount" type="text" formControlName="amount">
      <div
        *ngIf="form.get('amount')!.touched! && form.get('amount')!.invalid"
        class="validation"
      >
        <small *ngIf="form.get('amount')!.errors?.['required']">
          Введіть поле обсяг виплати
        </small>
      </div>
    </div>
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('worker')?.touched && form.get('worker')!.invalid}"
    >
      <label for="worker" class="form-label">Працівник:</label>

      <select class="form-input" id="worker" formControlName="worker" [(ngModel)]="workerId">
        <option [ngValue]="null" disabled>Оберіть працівника</option>
        <option *ngFor="let worker of workers" [ngValue]="worker.id">
          {{worker.firstName}} {{worker.lastName}}
        </option>
      </select>

    </div>

    <div class="button-section">
      <button
        type="submit"
        class="form-submit-btn"
        [disabled]="form.invalid || submitted"
      >Створити</button>
    </div>
  </form>
</div>

<ng-template #loader>
  <p class="text-center">Завантаження...</p>
</ng-template>





